.flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px 150px 20px;
    margin-bottom: 80px;
}

.team {
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.borde {
    position: relative;
    width: fit-content;
}

.borde img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.borde::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    border: 3px solid #fa573a;
    transform-origin: center;
    transform: rotate(10deg);
    pointer-events: none;
    z-index: 0;
    transition: transform 0.6s ease-in-out;
}

.borde:hover::before {
    transform: rotate(0deg);
}

.flex div h3,
.flex div h4,
.flex div p,
.flex div a {
    margin-left: 150px;
    font-family: "Montserrat", sans-serif;
}

.flex div h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.flex div h4 {
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 10px;
    color: #fa573a;
}

.flex div p {
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 40px;
}

.flex div a {
    font-size: 16px;
    font-weight: 450;
    color: white;
    background-color: #fa573a;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.flex div a i {
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.buttom:hover i {
    transform: translateX(5px);
    color: #fa573a;
}

.buttom:hover {
    background-color: transparent;
    color: #fa573a;
    border: 1px solid #fa573a;
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .borde {
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    .flex div {
        margin-left: 0;
        text-align: left;
        width: 100%;
    }

    .flex div h3 {
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .flex div h4 {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 10px;
        color: #fa573a;
    }

    .flex div p {
        font-size: 16px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .flex div a {
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .flex {
        padding: 20px 40px;
        margin-bottom: 100px;
    }

    .team {
        flex-direction: row;
        justify-content: space-around;
    }

    .borde {
        margin-right: -80px;
    }

    .flex div h3 {
        font-size: 17px;
    }

    .flex div h4 {
        font-size: 15px;
    }

    .flex div p {
        font-size: 15px;
    }

    .flex div a {
        font-size: 15px;
    }
}